<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventorApplication"
        tools:targetApi="31">
        <activity
            android:name=".SukiencuatoiActivity"
            android:exported="false" />
        <activity
            android:name=".QuenmatkhauActivity"
            android:exported="false" />
        <activity
            android:name=".MenusukienDialog"
            android:exported="false" />
        <activity
            android:name=".TktochucDialog"
            android:exported="false" />
        <activity
            android:name=".TktraphiDialog"
            android:exported="false" />
        <activity
            android:name=".TaikhoanthuongDialog"
            android:exported="false" />
        <activity
            android:name=".CauhoithuonggapActivity"
            android:exported="false" />
        <activity
            android:name=".ThemptttActivity"
            android:exported="false" />
        <activity
            android:name=".TaikhoanthanhtoanActivity"
            android:exported="false" />
        <activity
            android:name=".GoitaikhoanActivity"
            android:exported="false" />
        <activity
            android:name=".CaidattaikhoanActivity"
            android:exported="false" />
        <activity
            android:name=".DoimatkhauActivity"
            android:exported="false" />
        <activity
            android:name=".DiemthuongActivity"
            android:exported="false" />
        <activity
            android:name=".TrangcanhanActivity"
            android:exported="false" />
        <activity
            android:name=".TrangchuActivity"
            android:exported="false" />
        <activity
            android:name=".TkdadangnhapActivity"
            android:exported="false" />
        <activity
            android:name=".TkchuadangnhapActivity"
            android:exported="false" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".TrangthongbaoActivity"
            android:exported="false" />
        <activity
            android:name=".ThanhtoanActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SoluongveDialog"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChiaseskDialog"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ThanhtoanthanhcongDialog"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CailaimatkhauActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChitietsukienActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TimkiemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChitiettinnhanActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".KetquatimkiemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SukienxuhuongActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TaosukienActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ChinhsachActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FooterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DangkybtcActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DangkyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".DangnhapActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>