<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventorApplication"
        tools:targetApi="31">
        <activity
            android:name=".PopupSukienMenu"
            android:exported="false" />
        <activity
            android:name=".SukiendadangItem"
            android:exported="false" />
        <activity
            android:name=".UsuallyFaq"
            android:exported="false" />
        <activity
            android:name=".AddPayment"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".ComboAccount"
            android:exported="false" />
        <activity
            android:name=".AccountInfor"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".BonusPoint"
            android:exported="false" />
        <activity
            android:name=".PersonalProfile"
            android:exported="false" />
        <activity
            android:name=".MyAccountLoggedIn"
            android:exported="false" />
        <activity
            android:name=".MyAccountNotLoggedIn"
            android:exported="false" />
        <activity
            android:name=".ChatboxMessage"
            android:exported="false" />
        <activity
            android:name=".TrangthongbaoActivity"
            android:exported="false" />
        <activity
            android:name=".TrangThanhToan"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".PopupSoLuongVe"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".PopupChiaSeSuKien"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".PopupThanhToanThanhCong"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".trang_su_kien_da_dang"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".EventTag"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".TrangChiTietSuKien"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Timkiem"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Tinnhan"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Ketquatimkiem"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Sukienxuhuong"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Taosukien"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".trang_ve_da_mua"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".footer"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".PageOnboarding"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".TrangVeCuaToi"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>